<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAO_uwuA_tzMHnFI0ODS5Rc_hD7gjIih-A</string>
	<key>GCM_SENDER_ID</key>
	<string>413930434084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manish.start.Lessgo</string>
	<key>PROJECT_ID</key>
	<string>lessgo-5ba7e</string>
	<key>STORAGE_BUCKET</key>
	<string>lessgo-5ba7e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413930434084:ios:70fcb150a38009bf70b2b1</string>
</dict>
</plist>